doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="chrome=1")

    title sprits-it! by the-happy-hippo

    link(rel="stylesheet", href="stylesheets/styles.css")
    link(rel="stylesheet", href="stylesheets/pygment_trac.css")

    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  body
    div.wrapper
      header

        h1 sprits-it!

        p sprits-it! — Awesome Speed-Reading

        p.view
          a(href="https://github.com/the-happy-hippo/sprits-it").
            View the Project on GitHub <small>the-happy-hippo/sprits-it</small>
        ul
          li
            a(href="https://github.com/the-happy-hippo/sprits-it/zipball/master").
              Download <strong>ZIP File</strong>
          li
            a(href="https://github.com/the-happy-hippo/sprits-it/tarball/master").
              Download <strong>TAR Ball</strong>
          li
            a(href="https://github.com/the-happy-hippo/sprits-it").
              View On <strong>GitHub</strong>

      section
        include:md README.md

      footer
        p this project is maintained by
          a(href="https://github.com/the-happy-hippo") the-happy-hippo

        p
          small Hosted on GitHub Pages &mdash; Theme by
            a(href="https://github.com/orderedlist") orderedlist

    script(src="javascripts/scale.fix.js")
