
- // Define reusable JS functions

- var shft_def = 'function shft(txt,offs){if(offs<0)offs+=txt.length;return(txt+txt).substring(offs,offs+txt.length);}';

- function escapify(s) {
-   var r = '';
-   for(var i = 0;i < s.length; i++) {
-     var h = s.charCodeAt(i).toString(16);
-     while(h.length < 4) h = '0' + h;
-     r += '\\u' + h;
-   }
-   return r;
- }

