
- // Define reusable JS functions

- function escapify(s) {
-   var r = '';
-   for(var i = 0;i < s.length; i++) {
-     var h = s.charCodeAt(i).toString(16);
-     while(h.length < 4) h = '0' + h;
-     r += '\\u' + h;
-   }
-   return r;
- }

- function filter(dict, key) {
-   copy = {}
-   for (var k in dict) {
-     if(k !== key) {
-       copy[k] = dict[k];
-     }
-   }
-   return copy;
- }
